body {
}

/*** custom checkboxes ***/

.form-checkbox { display:none; } /* to hide the checkbox itself */
.form-checkbox + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.form-checkbox + label:before { content: "\f096"; } /* unchecked icon */
.form-checkbox + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.form-checkbox:checked + label:before { content: "\f046"; } /* checked icon */
.form-checkbox:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */